<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ufu.snef"
        versionCode="6" 
        version   = "1.0.5">
		

    <!-- versionCode is optional and Android only -->

    <name>SNEF-UFU 2015 </name>
	

    <description>
      Aplicativo para o evento SNEF-2015 Uberlândia-MG
    </description>

    <author href="https://facebook.com/adilmarcoelho" email="adilmarcoelho@hotmail.com">
        Adilmar Coelho Dantas
    </author>
	
	<preference name="stay-in-webview" value="true" /> 
	
	 <!-- SPLASH SCREENS -->
<gap:splash src="img/splash.png" /> <!-- default 320x480 pixels -->
<gap:splash src="img/splash1.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
<gap:splash src="img/splash2.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
<gap:splash src="img/splash3.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
<gap:splash src="img/splash4.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->

	
	
	 <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="hdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="icon.png"         gap:platform="webos" />
    <icon src="icon.png"  gap:platform="winphone" />
    <icon src="icon.png" gap:platform="winphone"   gap:role="background" />
	

</widget>
